@import "../../style.scss";

.home {
  @include themify($themes) {
    background-color: themed("bgSoft");
    min-height: calc(100vh - 70px); // calculating from navbar height
    padding: 20px 70px;

    h1 {
      color: themed("textColor");
    }
  }
}