@import "../../style.scss";

.leftBar {
  @include themify($themes) {
    flex: 3;
    position: sticky;
    top: 70px; // navbar is 70px height and it has padding on top and bottom 10px
    height: calc(100vh - 70px);
    // overflow: scroll;
    background-color: themed("bg");
    color: themed("textColor");
    min-width: 200px;

    @include mobile {
      display: none;
    }

    .container {
      padding: 20px;

      .hr {
        margin: 20px 0;
        border: none;
        height: 1px;
        background-color: themed("border");
      }

      .menu {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .user {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            object-fit: cover;
          }

          .span {
            font-size: 14px;
          }
        }

        .item {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            width: 30px;
          }

          .span {
            font-size: 14px;
          }
        }
      }
    }
  }
}
