@import "../../style.scss";

.navBar {
  @include themify($themes) {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 70px;
    position: sticky !important;
    top: 0;
    background-color: themed("bg") !important;
    border-bottom: 1px solid themed("border") !important;
    margin: 0 !important;
    border-radius: 0 !important; 

    .left {
      display: flex;
      align-items: center;
      gap: 30px;

      span {
        font-size: 20px;
        font-weight: bold;
        color: themed("textColor");
      }

      .mui-icon {
        font-size: 24px;
        color: themed("logo");

        &:hover {
          cursor: pointer;
        }
      }

      .search {
        input {
          width: 500px;
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 20px;

      .mui-icon {
        font-size: 24px;
        color: themed("logo");

        &:hover {
          cursor: pointer;
        }
      }

      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;
        
        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }

        span {
          color: themed("textColor")
        }
      }
    }
  }
}
